.re-table {
  padding: 20px;
  width: 100%;
  height: 100%;
  .re-table-header {
    overflow: hidden;
    .header-col {
      line-height: 60px;
      float: left;
      width: 200px;
    }
  }
  .re-table-body {
    overflow-y: auto;
    .body-col {
      line-height: 40px;
      float: left;
      width: 200px;
    }
  }

  .re-table-row {
    overflow: hidden;
    border-bottom: 1px solid #cdcdcd;
  }
}