.re-table {
  padding: 20px;
  width: 100%;
  overflow-y: auto;
  top:0px;
  bottom: 0px;
  position: absolute;
  .re-table-header {
    overflow: hidden;
    .header-col {
      line-height: 60px;
      float: left;
      width: 200px;
    }
  }
  .re-table-body {
    position: absolute;
    overflow-y: auto;
    top:80px;
    min-width: 100%;
    bottom: 0px;
    .body-col {
      line-height: 40px;
      float: left;
      width: 200px;
    }
  }

  .re-table-row {
    overflow: hidden;
    border-bottom: 1px solid #cdcdcd;
  }

  &.has-top{
    top:170px;
  }
}

.re-suggest-right-select-panel{
  .select-title{
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
  }
  .row{
    width:80%;
    margin: auto;
    .select-item{
      color:#333;
      line-height: 40px;
      border: 1px solid #333;
      text-align: center;
      cursor: pointer;
      &.select{
        color:white;
        background-color:#333;
      }
    }
  }
}
