<div class="ag-question-multi">
  <div class="ag-question-row">
    <div class="ag-question-left">列{{index+2}}题型</div>
    <div class="ag-question-right title">多选题</div>
  </div>
  <div class="ag-question-row">
    <div class="ag-question-left">列{{index+2}}标题</div>
    <input class="ag-question-right value" placeholder="请输入列{{index+1}}标题" ng-model="question.content.title">
  </div>
  <div class="ag-question-row" ng-repeat="option in question.content.options">
    <div class="ag-question-left">{{$index===0?'选项':''}}</div>
    <input class="ag-question-right value" placeholder="请输入内容"
           ng-model="option.value"
           ng-keyup="pressOption(option,$index,$event)">
  </div>
</div>
