<div class="ag-question-table">
  <div class="ag-question-edit" ng-show="status==='edit'">
    <div class="ag-question-row">
      <div class="ag-question-left">题目类型</div>
      <div class="ag-question-right title">表格题</div>
    </div>
    <div class="ag-question-row">
      <div class="ag-question-left">题目标题</div>
      <input class="ag-question-right value" placeholder="请输入题目标题" ng-model="question.content.title">
    </div>

    <div class="ag-question-row">
      <div class="ag-question-left">请选择表格</div>
      <input readonly="readonly" class="ag-question-right value" ng-click="showTableSelect()" placeholder="请选择表格"
             ng-model="question.content.table_name">
    </div>

    <div class="ag-question-row" ng-repeat="f in question.content.filter_fields">
      <div class="ag-question-left">{{f.key}}</div>
      <input readonly="readonly" class="ag-question-right value" ng-click="showFilterFieldSelect(f.index)"
             ng-model="f.value"
             placeholder="请输入筛选字段">
    </div>

    <div class="ag-question-row">
      <div class="ag-question-left"></div>
      <div class="ag-question-right"></div>
    </div>

    <div class="ag-question-row">
      <div class="ag-question-left">列1显示字段</div>
      <input readonly="readonly" class="ag-question-right value" ng-click="showFieldSelect()"
             ng-model="question.content.col_field_1"
             placeholder="请选择显示字段">
    </div>
    <div class="ag-question-table-row" ng-repeat="q in question.content.show_fields">
      <div class="ag-question-row">
        <div class="ag-question-left"></div>
        <div class="ag-question-right"></div>
      </div>

      <ag-question-table-single
          get-index="$index"
          ng-if="q.type==='single'"
          get-question="q"></ag-question-table-single>
      <ag-question-table-multi
          get-index="$index"
          ng-if="q.type==='multi'"
          get-question="q"></ag-question-table-multi>
      <ag-question-table-blank
          get-index="$index"
          ng-if="q.type==='blank'"
          get-question="q"></ag-question-table-blank>
      <ag-question-table-true-false
          get-index="$index"
          ng-if="q.type==='trueorfalse'"
          get-question="q"></ag-question-table-true-false>
    </div>
    <div class="ag-question-footer">
      <div class="ag-btn blue ag-question-finish" ng-click="submitQuestion()">完成</div>
      <div class="ag-btn blue ag-question-remove">删除</div>
    </div>
  </div>
  <div class="ag-question-preview table" ng-show="status==='preview'" ng-click="status='edit'">
    <div class="ag-question-table-header ag-question-row preview has-bottom">
      <div class="ag-question-left">品牌</div>
      <div class="ag-question-right has-left">系列</div>
    </div>
    <div class="ag-question-table-body">
      <div class="ag-question-row preview has-bottom" ng-style="{width:getPreviewRowWidth()}">
        <div class="ag-question-col" ng-style="{width:getPreviewColWidth()}">
          <div class="ag-table-preview-header">{{question.content.col_field_1}}</div>
        </div>
        <div class="ag-question-col" ng-repeat="f in question.content.show_fields"
             ng-style="{width:getPreviewColWidth()}">
          <div class="ag-table-preview-header">{{f.content.title}}</div>
        </div>
      </div>
      <div class="ag-question-row preview has-bottom" ng-style="{width:getPreviewRowWidth()}">
        <div class="ag-question-col" ng-style="{width:getPreviewColWidth()}">
          <div class="title">{{question.content.col_field_1}}</div>
        </div>
        <div class="ag-question-col" ng-repeat="f in question.content.show_fields"
             ng-style="{width:getPreviewColWidth()}">
          <div class="value">{{f.content.title}}</div>
        </div>
      </div>
      <div class="ag-question-row preview has-bottom" ng-style="{width:getPreviewRowWidth()}">
        <div class="ag-question-col" ng-style="{width:getPreviewColWidth()}">
          <div class="title">{{question.content.col_field_1}}</div>
        </div>
        <div class="ag-question-col" ng-repeat="f in question.content.show_fields"
             ng-style="{width:getPreviewColWidth()}">
          <div class="value">{{f.content.title}}</div>
        </div>
      </div>
      <div class="ag-question-row preview has-bottom" ng-style="{width:getPreviewRowWidth()}">
        <div class="ag-question-col" ng-style="{width:getPreviewColWidth()}">
          <div class="title">{{question.content.col_field_1}}</div>
        </div>
        <div class="ag-question-col" ng-repeat="f in question.content.show_fields"
             ng-style="{width:getPreviewColWidth()}">
          <div class="value">{{f.content.title}}</div>
        </div>
      </div>
      <div class="ag-question-row preview has-bottom" ng-style="{width:getPreviewRowWidth()}">
        <div class="ag-question-col" ng-style="{width:getPreviewColWidth()}">
          <div class="title">{{question.content.col_field_1}}</div>
        </div>
        <div class="ag-question-col" ng-repeat="f in question.content.show_fields"
             ng-style="{width:getPreviewColWidth()}">
          <div class="value">{{f.content.title}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
