<div class="basedata-child-page basedata_people_page">
  <div class="ag-table">
    <div class="ag-table-header" ng-style="{width:((headers.length+1)*141)+'px'}">
      <div class="ag-table-col" ng-repeat="h in headers">{{h}}</div>
    </div>
    <div class="ag-table-body animated bounceInDown"  ng-style="{width:((headers.length+1)*141)+'px'}">
      <div class="ag-table-row" ng-repeat="p in peoples">
        <div class="ag-table-col">{{p.number||'未知'}}</div>
        <div class="ag-table-col">{{p.job_number||'未知'}}</div>
        <div class="ag-table-col">{{p.name||'未知'}}</div>
        <div class="ag-table-col">{{p.job||'未知'}}</div>
        <div class="ag-table-col">{{p.duty||'未知'}}</div>
        <div class="ag-table-col">{{p.telephone||'未知'}}</div>
        <div class="ag-table-col">{{p.email||'未知'}}</div>
        <div class="ag-table-col">{{p.sex||'未知'}}</div>
        <div class="ag-table-col">{{p.parent_number||'未知'}}</div>
        <div class="ag-table-col">{{p.parent_name||'未知'}}</div>
        <div class="ag-table-col">{{p.city||'未知'}}</div>
        <div class="ag-table-col">{{p.area||'未知'}}</div>
        <div class="ag-table-col">{{p.create_date||'未知'}}</div>
        <div class="ag-table-col">{{p.job_status||'未知'}}</div>
        <div class="ag-table-col">{{(p.roles&&p.roles.toString())||'未知'}}</div>
        <div class="ag-table-col">删除</div>
      </div>
    </div>
  </div>
</div>
