<div class="basedata-child-page basedata_sku_page">
  <div class="ag-table">
    <div class="ag-table-header" ng-style="{width:((headers.length+1)*141)+'px'}">
    <div class="ag-table-col" ng-repeat="h in headers">{{h}}</div>
    </div>
    <div class="ag-table-body animated bounceInDown" ng-style="{width:((headers.length+1)*141)+'px'}">
      <div class="ag-table-row" ng-repeat="p in products">
        <div class="ag-table-col">{{p.number||'未知'}}</div>
        <div class="ag-table-col">{{p.barcode||'未知'}}</div>
        <div class="ag-table-col">{{p.name||'未知'}}</div>
        <div class="ag-table-col">{{p.short_name||'未知'}}</div>
        <div class="ag-table-col">{{p.brand||'未知'}}</div>
        <div class="ag-table-col">{{p.series||'未知'}}</div>
        <div class="ag-table-col">{{p.large_type||'未知'}}</div>
        <div class="ag-table-col">{{p.small_type||'未知'}}</div>
        <div class="ag-table-col">{{p.package_unit||'未知'}}</div>
        <div class="ag-table-col">{{p.specification||'未知'}}</div>
        <div class="ag-table-col">{{p.system_price||'未知'}}</div>
        <div class="ag-table-col">{{p.price||'未知'}}</div>
        <div class="ag-table-col">{{p.product_level||'未知'}}</div>
        <div class="ag-table-col">{{p.is_new||'未知'}}</div>
        <div class="ag-table-col">{{p.is_key||'未知'}}</div>
        <div class="ag-table-col">{{p.is_promotion||'未知'}}</div>
        <div class="ag-table-col">删除</div>
      </div>
    </div>
  </div>
</div>