<div class="ag-card-edit-page animated bounceInDown">
  <div class="header">
    <div class="ag-back">返回</div>
    陈列报告
  </div>
  <div class="center-area">
    <div class="left">
      <div class="left-header">
        {{card.title||'未填拜访卡名称'}}
      </div>
      <div class="left-item" ui-sref="card_edit.card_config"
           ng-class="{select:location.hash==='#/card_edit/'+card._id+'/card_config/'+card._id}">拜访卡配置
      </div>
      <div class="card-paper-title">
        <div class="title">拜访卡试卷</div>
        <div class="add-paper-entrance" ng-click="showAddPaper()">添加试卷</div>
      </div>
      <div class="left-item" ng-click="goPreview(paper)" ng-repeat="paper in card.papers"
           ng-class="{select:location.hash===('#/card_edit/'+card._id+'/card_preview/'+card._id+'/'+paper._id+'')}">
        {{paper.title}}
      </div>
    </div>
    <div class="right">
      <ui-view>

      </ui-view>
    </div>
  </div>
</div>
