<div class="ag-card-config-page animated bounceInRight">
  <div class="card-config-title">基本设置</div>
  <div class="ag-question-container">
    <div class="ag-question-row">
      <div class="ag-question-left">拜访卡名称</div>
      <div class="ag-question-right value has-value" ng-click="showUpdateCardTitle()">{{card.title}}</div>
    </div>
    <div class="ag-question-row" style="border:0px;">
      <div class="ag-question-left">拜访卡使用角色</div>
      <div class="ag-question-right value has-value">{{card.role==='salesman'?'业务员':'导购员'}}</div>
    </div>
  </div>
  <div class="card-config-title">客户经销商配置(业务员)</div>
  <div class="ag-table" style="height:500px;">
    <div class="ag-table-header" ng-style="{width:((headers.length+1)*141)+'px'}">
      <div class="ag-table-col" ng-repeat="h in headers">{{h}}</div>
    </div>
    <div class="ag-table-body animated bounceInDown" ng-style="{width:((headers.length+1)*141)+'px'}">
      <div class="ag-table-row" ng-repeat="c in customers">
        <div class="ag-table-col" title="{{p.number}}">{{p.number||'未填'}}</div>
        <div class="ag-table-col">{{c.customer_level||'未填'}}</div>
        <div class="ag-table-col">{{c.name||'未填'}}</div>
        <div class="ag-table-col">{{c.short_name||'未填'}}</div>
        <div class="ag-table-col">{{c.customer_type||'未填'}}</div>
        <div class="ag-table-col">{{c.channel_type||'未填'}}</div>
        <div class="ag-table-col">{{c.area_level1||'未填'}}</div>
        <div class="ag-table-col">{{c.area_level2||'未填'}}</div>
        <div class="ag-table-col">{{c.area_level3||'未填'}}</div>
        <div class="ag-table-col">{{c.address||'未填'}}</div>
        <div class="ag-table-col">{{c.delivery_address||'未填'}}</div>
        <div class="ag-table-col">{{c.contact_phone||'未填'}}</div>
        <div class="ag-table-col">{{c.contact_name||'未填'}}</div>
        <div class="ag-table-col">{{c.principal_number||'未填'}}</div>
        <div class="ag-table-col">{{c.principal_name||'未填'}}</div>
        <div class="ag-table-col">{{c.promotion_card.title||'未填'}}</div>
        <div class="ag-table-col">{{c.salesman_card.title||'未填'}}</div>
        <div class="ag-table-col btn" ng-click="showUpdateCustomerCard(c)">设为当前拜访卡</div>
      </div>
    </div>
  </div>
</div>