<div class="ag-card-home-page animated bounceInDown">
  <div class="header">
    拜访卡
  </div>
  <div class="card-add-btn" ng-click="showCardAdd()" ag-hover-shake="rubberBand">创建拜访卡</div>
  <div class="body row">
    <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="card in cards | orderBy :'created'">
      <div class="card" ng-click="goEdit(card)">
        <div class="card-header">
          <div class="title">{{getCardTip(card)}}</div>
          <div class="name">{{card.title}}</div>
          <img class="photo" src="images/salesman.png">
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div class="number">{{card.paper_count}}</div>
              <div class="name">试卷</div>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div class="number">{{card.question_count}}</div>
              <div class="name">题目</div>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div class="number">{{card.customers.length||'默认'}}</div>
              <div class="name">经销商</div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="left" ng-click="goConfig(card)">配置拜访卡</div>
          <div class="right" ng-click="goEdit(card)">编辑拜访卡试卷</div>
        </div>
      </div>
    </div>
  </div>
</div>