<div class="re-table">
  <div class="re-table-header" style="width: 1440px;min-width: 100%">
    <div class="re-table-row">
      <div class="header-col">SKU编码</div>
      <div class="header-col">产品名称</div>
      <div class="header-col">月份</div>
      <div class="header-col">正品</div>
      <div class="header-col">在途</div>
      <div class="header-col">近效期</div>
      <div class="header-col">次品</div>
    </div>
  </div>
  <div class="re-table-body" style="width: 1440px;min-width: 100%">
    <div class="re-table-row" ng-repeat="s in orders" ng-if="s.product">
      <div class="body-col">{{s.product_number}}</div>
      <div class="body-col">{{s.product.product_name}}</div>
      <div class="body-col">{{s.month}}</div>
      <div class="body-col">{{s.zhengpin}}</div>
      <div class="body-col">{{s.zaitu}}</div>
      <div class="body-col">{{s.jinxiaoqi}}</div>
      <div class="body-col">{{s.cipin}}</div>
    </div>
  </div>
</div>
