<div class="re-table">
  <div class="re-table-header" style="width: 9440px;min-width: 100%">
    <div class="re-table-row">
      <div class="header-col">SKU编码</div>
      <div class="header-col">产品条码</div>
      <div class="header-col">SAP CODE</div>
      <div class="header-col">产品名称</div>
      <div class="header-col">规格</div>
      <div class="header-col">品类</div>
      <div class="header-col">系列名称</div>
      <div class="header-col">中分类名称</div>
      <div class="header-col">小分类名称</div>
      <div class="header-col">销售价格</div>
      <div class="header-col">晋颖成本价</div>
      <div class="header-col">开始销售日期</div>
      <div class="header-col">停止销售日期</div>
      <div class="header-col">保质期</div>
      <div class="header-col">销售单位</div>
      <div class="header-col">工厂名称</div>
      <div class="header-col">工厂MOQ</div>
      <div class="header-col">MOQ备注</div>
      <div class="header-col">工厂交货週期</div>
      <div class="header-col">是否明星产品</div>
      <div class="header-col">TOP SKU排名</div>
      <div class="header-col">ABC分类</div>
      <div class="header-col">ABC类说明</div>
      <div class="header-col">ABC类別%</div>
      <div class="header-col">柜枱销售參考(月)</div>
      <div class="header-col">柜枱安全库存(月)</div>
      <div class="header-col">柜枱最少订量</div>
      <div class="header-col">地区销售參考(月)</div>
      <div class="header-col">地区安全库存(月)</div>
      <div class="header-col">地区修改订单超出% (需颜色提醒)</div>
      <div class="header-col">地区修改订单超出% (需备注及确认)</div>
      <div class="header-col">总部销售參考(月)</div>
      <div class="header-col">总部安全库存(月)</div>
      <div class="header-col">审批地区修改订单超出% (需颜色提醒)</div>
      <div class="header-col">审批地区修改订单超出% (需上级确认)</div>
      <div class="header-col">订量达MOQ之%必采购</div>
      <div class="header-col">是否有地区特性</div>
      <div class="header-col">地区特性加20%</div>
      <div class="header-col">是否有季節性</div>
      <div class="header-col">季節性加20%</div>
      <div class="header-col">柜枱促销活动月份</div>
      <div class="header-col">柜枱促销活动比率</div>
      <div class="header-col">字段1</div>
      <div class="header-col">字段2</div>
      <div class="header-col">字段3</div>
      <div class="header-col">字段4</div>
      <div class="header-col">字段5</div>
    </div>
  </div>
  <div class="re-table-body" style="width: 9440px;min-width: 100%">
    <div class="re-table-row" ng-repeat="s in products">
      <div class="body-col">{{s.product_number }}</div>
      <div class="body-col">{{s.product_barcode }}</div>
      <div class="body-col">{{s.sap_code }}</div>
      <div class="body-col">{{s.product_name }}</div>
      <div class="body-col">{{s.specification }}</div>
      <div class="body-col">{{s.category }}</div>
      <div class="body-col">{{s.series_name }}</div>
      <div class="body-col">{{s.mid_classify }}</div>
      <div class="body-col">{{s.small_classify }}</div>
      <div class="body-col">{{s.sales_price }}</div>
      <div class="body-col">{{s.jinyi_cost }}</div>
      <div class="body-col">{{s.start_sales_date }}</div>
      <div class="body-col">{{s.end_sales_date }}</div>
      <div class="body-col">{{s.expiration_date }}</div>
      <div class="body-col">{{s.sales_unit }}</div>
      <div class="body-col">{{s.factory_name }}</div>
      <div class="body-col">{{s.factory_moq }}</div>
      <div class="body-col">{{s.moq_remark }}</div>
      <div class="body-col">{{s.factory_delivery_cycle }}</div>
      <div class="body-col">{{s.is_star_product }}</div>
      <div class="body-col">{{s.top_sku_ranking }}</div>
      <div class="body-col">{{s.abc_classify }}</div>
      <div class="body-col">{{s.abc_classify_explain }}</div>
      <div class="body-col">{{s.abc_category }}</div>
      <div class="body-col">{{s.desk_sales_reference }}</div>
      <div class="body-col">{{s.desk_minimum_order_count }}</div>
      <div class="body-col">{{s.desk_safe_stock }}</div>
      <div class="body-col">{{s.area_sales_reference }}</div>
      <div class="body-col">{{s.area_safe_stock }}</div>
      <div class="body-col">{{s.area_modify_exceed }}</div>
      <div class="body-col">{{s.area_modify_exceed_remark }}</div>
      <div class="body-col">{{s.hq_sales_reference }}</div>
      <div class="body-col">{{s.hq_safe_stock }}</div>
      <div class="body-col">{{s.approval_modify_exceed }}</div>
      <div class="body-col">{{s.approval_modify_exceed_remark }}</div>
      <div class="body-col">{{s.order_count_exceed_moq }}</div>
      <div class="body-col">{{s.is_area_speciality }}</div>
      <div class="body-col">{{s.area_speciality_more }}</div>
      <div class="body-col">{{s.is_season_speciality }}</div>
      <div class="body-col">{{s.season_speciality_more }}</div>
      <div class="body-col">{{s.desk_promotion_month }}</div>
      <div class="body-col">{{s.desk_promotion_rate }}</div>
      <div class="body-col">{{s.field_1 }}</div>
      <div class="body-col">{{s.field_2 }}</div>
      <div class="body-col">{{s.field_3 }}</div>
      <div class="body-col">{{s.field_4 }}</div>
      <div class="body-col">{{s.field_5 }}</div>
    </div>
  </div>
</div>
