<div class="ag-home-page animated bounceInDown">
  <div class="ag-home-area">
    <div class="tip-title">欢迎来到敏捷现场</div>
    <div class="tip-content">立即开始体验高效的快消管理之道</div>
    <div class="row">
      <div class="col col-sm-6 col-xs-12 col-md-3 col-lg-3 home-item-panel" ui-sref="basedata_home.basedata_area" ag-hover-shake="swing">
        <img src="images/location.png" class="icon">
        <div class="name">地区</div>
      </div>
      <div class="col col-sm-6 col-xs-12 col-md-3 col-lg-3 home-item-panel" ui-sref="basedata_home.basedata_shop" ag-hover-shake="swing">
        <img src="images/store.png" class="icon">
        <div class="name">门店</div>
      </div>
      <div class="col col-sm-6 col-xs-12 col-md-3 col-lg-3 home-item-panel" ui-sref="basedata_home.basedata_people" ag-hover-shake="swing">
        <img src="images/user.png" class="icon">
        <div class="name">人员</div>
      </div>
      <div class="col col-sm-6 col-xs-12 col-md-3 col-lg-3 home-item-panel" ui-sref="basedata_home.basedata_customer" ag-hover-shake="swing">
        <img src="images/customer.png" class="icon">
        <div class="name">客户经销商</div>
      </div>
      <div class="col col-sm-6 col-xs-12 col-md-4 col-lg-4 home-item-panel" ui-sref="basedata_home.basedata_sku" ag-hover-shake="swing">
        <img src="images/sku.png" class="icon">
        <div class="name">SKU</div>
      </div>
      <div class="col col-sm-6 col-xs-12 col-md-4 col-lg-4 home-item-panel" ui-sref="basedata_home.base_address" ag-hover-shake="swing">
        <img src="images/statistics.png" class="icon">
        <div class="name">统计报表</div>
      </div>
      <div class="col col-sm-6 col-xs-12 col-md-4 col-lg-4 home-item-panel" ui-sref="card_home" ag-hover-shake="swing">
        <img src="images/callcard.png" class="icon">
        <div class="name">拜访卡</div>
      </div>
    </div>
  </div>
</div>