<div class="re-suggest-page">
  <div class="re-suggest-header">
    <span ui-sref="home">
      <i class="fa fa-angle-left"></i>
      历史数据
    </span>
    <div class="import-btn" ng-repeat="b in importBtns" ng-click="b.clickCallback()">{{b.text}}</div>
  </div>
  <div class="re-suggest-body" ng-class="{'is-home':location.hash==='#/order_history/history_home'}">
    <div class="re-suggest-left">
      <div class="suggest-left-item"
           ng-class="{'select':location.hash==='#/order_history/history_sales'}"
           ui-sref="order_history.history_sales">
        历史销售
      </div>
      <div class="suggest-left-item"
           ng-class="{'select':location.hash==='#/order_history/history_stock'}"
           ui-sref="order_history.history_stock">
        历史库存
      </div>
      <div class="suggest-left-item"
           ng-class="{'select':location.hash==='#/order_history/history_product'}"
           ui-sref="order_history.history_product"
           ng-show="user.account_type==='澳妆供应链'">
        产品资料
      </div>
      <div class="suggest-left-item"
           ng-class="{'select':location.hash==='#/order_history/history_desk'}"
           ui-sref="order_history.history_desk"
           ng-show="user.account_type==='澳妆供应链'">
        柜台资料
      </div>
    </div>
    <div ui-view class="re-suggest-right">
    </div>
  </div>
</div>