<div class="re-suggest-page">
  <div class="re-suggest-header">
    <span ui-sref="home">
      <i class="fa fa-angle-left"></i>
      {{info.title }}
    </span>

    <div class="import-btn" ng-repeat="b in importBtns" ng-click="b.clickCallback()">{{b.text}}</div>
  </div>
  <div class="re-suggest-body" ng-class="{'is-home':location.hash==='#/order_suggest/suggest_home'}">
    <div class="re-suggest-left">
      <div class="suggest-left-item"
           ng-class="{'select':location.hash==='#/order_suggest/suggest_area_last_month'}"
           ui-sref="order_suggest.suggest_area_last_month"
           ng-show="user.account_type==='地区分公司'">
        导入上月数据
      </div>
      <div class="suggest-left-item"
           ng-class="{'select':location.hash==='#/order_suggest/suggest_area_other_D02'}"
           ui-sref="order_suggest.suggest_area_other_D02"
           ng-show="user.account_type==='地区分公司'">
        导入其他订单(批发)
      </div>
      <div class="suggest-left-item"
           ng-class="{'select':location.hash==='#/order_suggest/suggest_area_other_D03'}"
           ui-sref="order_suggest.suggest_area_other_D03"
           ng-show="user.account_type==='地区分公司'">
        导入其他订单(试用装)
      </div>
      <div class="suggest-left-item"
           ng-class="{'select':location.hash==='#/order_suggest/suggest_area_other_D04'}"
           ui-sref="order_suggest.suggest_area_other_D04"
           ng-show="user.account_type==='地区分公司'">
        导入其他订单(陈列)
      </div>
      <div class="suggest-left-item"
           ng-class="{'select':location.hash==='#/order_suggest/suggest_area_suggest_result'}"
           ui-sref="order_suggest.suggest_area_suggest_result"
           ng-show="user.account_type==='地区分公司'">
        建议订单
      </div>


      <div class="suggest-left-item"
           ng-class="{'select':location.hash==='#/order_suggest/suggest_hq_current'}"
           ui-sref="order_suggest.suggest_hq_current"
           ng-show="user.account_type==='地区总部'&&user.show_name!=='总部电商部'&&user.show_name!=='总部经销商部'">
        导入当前库存
      </div>
      <div class="suggest-left-item"
           ng-class="{'select':location.hash==='#/order_suggest/suggest_hq_other_order'}"
           ui-sref="order_suggest.suggest_hq_other_order"
           ng-show="user.account_type==='地区总部'&&user.show_name!=='总部电商部'&&user.show_name!=='总部经销商部'">
        导入其他订单
      </div>
      <div class="suggest-left-item"
           ng-class="{'select':location.hash==='#/order_suggest/suggest_hq_agency'}"
           ui-sref="order_suggest.suggest_hq_agency"
           ng-show="user.account_type==='地区总部'&&user.show_name!=='总部电商部'">
        导入经销商订单
      </div>
      <div class="suggest-left-item"
           ng-class="{'select':location.hash==='#/order_suggest/suggest_hq_e_commerce'}"
           ui-sref="order_suggest.suggest_hq_e_commerce"
           ng-show="user.account_type==='地区总部'&&user.show_name!=='总部经销商部'">
        导入电商订单
      </div>
      <div class="suggest-left-item"
           ng-class="{'select':location.hash==='#/order_suggest/suggest_hq_maozi'}"
           ui-sref="order_suggest.suggest_hq_maozi"
           ng-show="user.account_type==='地区总部'&&user.show_name!=='总部电商部'&&user.show_name!=='总部经销商部'">
        导入茂姿订单
      </div>
      <div class="suggest-left-item"
           ng-class="{'select':location.hash==='#/order_suggest/suggest_hq_suggest_result'}"
           ui-sref="order_suggest.suggest_hq_suggest_result"
           ng-show="user.account_type==='地区总部'&&user.show_name!=='总部电商部'&&user.show_name!=='总部经销商部'">
        建议订单
      </div>
    </div>
    <div ui-view class="re-suggest-right">
    </div>
  </div>
</div>