<div class="re-order-query-page">
  <div class="re-child-header"></div>
  <div class="re-child-body">
    <div class="re-table">
      <div class="re-table-header">
        <div class="re-table-row">
          <div class="header-col">SKU编码</div>
          <div class="header-col">产品名称</div>
          <div class="header-col">产品条码</div>
          <div class="header-col">品类</div>
          <div class="header-col">中分类名称</div>
          <div class="header-col">销售价格</div>
          <div class="header-col">jiyi成本</div>
          <div class="header-col">ABC分类</div>
          <div class="header-col">销售价格</div>
          <div class="header-col">销售价格</div>
          <div class="header-col">销售价格</div>
          <div class="header-col">销售价格</div>
          <div class="header-col">销售价格</div>
          <div class="header-col">销售价格</div>
          <div class="header-col">销售价格</div>
          <div class="header-col">销售价格</div>
          <div class="header-col">销售价格</div>
          <div class="header-col">销售价格</div>
          <div class="header-col">销售价格</div>
          <div class="header-col">销售价格</div>
          <div class="header-col">销售价格</div>
          <div class="header-col">销售价格</div>
          <div class="header-col">销售价格</div>
          <div class="header-col">销售价格</div>
          <div class="header-col">销售价格</div>
          <div class="header-col">销售价格</div>
          <div class="header-col">销售价格</div>
          <div class="header-col">销售价格</div>
        </div>
      </div>
      <div class="re-table-body">
        <div class="re-table-row">
          <div class="body-col">sadfadf232412</div>
          <div class="body-col">32</div>
          <div class="body-col">345</div>
          <div class="body-col">123123</div>
        </div>
        <div class="re-table-row">
          <div class="body-col">sadfadf232412</div>
          <div class="body-col">32</div>
          <div class="body-col">345</div>
          <div class="body-col">123123</div>
        </div>
        <div class="re-table-row">
          <div class="body-col">sadfadf232412</div>
          <div class="body-col">32</div>
          <div class="body-col">345</div>
          <div class="body-col">123123</div>
        </div>
        <div class="re-table-row">
          <div class="body-col">sadfadf232412</div>
          <div class="body-col">32</div>
          <div class="body-col">345</div>
          <div class="body-col">123123</div>
        </div>
        <div class="re-table-row">
          <div class="body-col">sadfadf232412</div>
          <div class="body-col">32</div>
          <div class="body-col">345</div>
          <div class="body-col">123123</div>
        </div>
        <div class="re-table-row">
          <div class="body-col">sadfadf232412</div>
          <div class="body-col">32</div>
          <div class="body-col">345</div>
          <div class="body-col">123123</div>
        </div>
      </div>


    </div>

  </div>
</div>
