<div class="re-order-query-page">
  <div class="re-child-header"></div>
  <div class="re-child-body">
    <div class="re-table">
      <div class="re-table-header">
        <div class="re-table-row">
          <div class="header-col">序号</div>
          <div class="header-col">订单号编码</div>
          <div class="header-col">提交日期</div>
          <div class="header-col">审批状况</div>
          <div class="header-col">编辑</div>
          <div class="header-col">交货日期</div>
        </div>
      </div>
      <div class="re-table-body">
        <div class="re-table-row">
          <div class="body-col">sadfadf232412</div>
          <div class="body-col">32</div>
          <div class="body-col">345</div>
          <div class="body-col">123123</div>
        </div>
        <div class="re-table-row">
          <div class="body-col">sadfadf232412</div>
          <div class="body-col">32</div>
          <div class="body-col">345</div>
          <div class="body-col">123123</div>
        </div>
        <div class="re-table-row">
          <div class="body-col">sadfadf232412</div>
          <div class="body-col">32</div>
          <div class="body-col">345</div>
          <div class="body-col">123123</div>
        </div>
        <div class="re-table-row">
          <div class="body-col">sadfadf232412</div>
          <div class="body-col">32</div>
          <div class="body-col">345</div>
          <div class="body-col">123123</div>
        </div>
        <div class="re-table-row">
          <div class="body-col">sadfadf232412</div>
          <div class="body-col">32</div>
          <div class="body-col">345</div>
          <div class="body-col">123123</div>
        </div>
        <div class="re-table-row">
          <div class="body-col">sadfadf232412</div>
          <div class="body-col">32</div>
          <div class="body-col">345</div>
          <div class="body-col">123123</div>
        </div>
      </div>


    </div>

  </div>
</div>
