<div class="re-order-query-page">
  <div class="re-child-header">
    <span ui-sref="home">
      <i class="fa fa-angle-left"></i>
      查看订单
    </span>
  </div>
  <div class="re-child-body">
    <div class="re-table">
      <div class="re-table-header">
        <div class="re-table-row" style="width:1400px;min-width: 100%;">
          <div class="header-col">序号</div>
          <div class="header-col">订单号编码</div>
          <div class="header-col">提交日期</div>
          <div class="header-col">审批状况</div>
        </div>
      </div>
      <div class="re-table-body">
        <div class="re-table-row" style="width:1400px;min-width: 100%;" ng-repeat="o in orders | orderBy:created" ng-click="goDetail(o)">
          <div class="body-col">{{$index}}</div>
          <div class="body-col">{{o.order_number}}</div>
          <div class="body-col">{{o.created | date : 'yyyy-MM-dd HH:mm'}}</div>
          <div class="body-col">{{o.status}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
