<div class="setting-password-page">
  <div class="setting-password-center">
    <div class="title">修改密码</div>
    <div class="setting-row">
      <div class="text">原始密码</div>
      <input type="password" ng-model="info.old_password" placeholder="请输入原始密码">
    </div>
    <div class="setting-row">
      <div class="text">新密码</div>
      <input type="password" ng-model="info.new_password" placeholder="请输入新密码">
    </div>
    <div class="setting-row">
      <div class="text">确认密码</div>
      <input type="password" ng-model="info.re_password" placeholder="请输入新密码">
    </div>
    <div class="setting-row">
      <div class="setting-btn" ng-click="changePassword()">确认修改</div>
    </div>
  </div>
</div>