<div class="re-suggest-home-page">
  <div class="row">
    <div class="tip-title">生成建议订单</div>
    <div class="tip-content">点击下列快捷键进行操作</div>

    <div class="col col-sm-6 col-xs-12 col-md-3 col-lg-3 home-item-panel">
    </div>
    <div class="col col-sm-6 col-xs-12 col-md-3 col-lg-3 home-item-panel"
         ui-sref="system_setting.setting_password" ag-hover-shake="swing">
      <img src="images/entrance_history.png" class="icon">

      <div class="name">修改密码</div>
    </div>
    <div class="col col-sm-6 col-xs-12 col-md-3 col-lg-3 home-item-panel"
         ui-sref="system_setting.setting_history" ag-hover-shake="swing">
      <img src="images/entrance_history.png" class="icon">

      <div class="name">查看历史</div>
    </div>
    <div class="col col-sm-6 col-xs-12 col-md-3 col-lg-3 home-item-panel">
    </div>
  </div>
</div>
