<div class="re-suggest-right-select-panel">
  <div class="select-title">请选择导入订单</div>
  <div class="row">
    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
    </div>
    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <div class="select-item" ng-class="{select:curSubmitOrder.has_D02==='没有'}" ng-click="clickOrderStatus('没有')">
        没有批发订单
      </div>
    </div>
    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <div class="select-item" ng-class="{select:curSubmitOrder.has_D02==='有'}" ng-click="clickOrderStatus('有')">有批发订单
      </div>
    </div>
  </div>
</div>

<div class="re-table has-top">
  <div class="re-table-header" style="width:2100px;min-width: 100%">
    <div class="re-table-left-header" zz-float-left>
      <div class="left-header-col">SKU编码</div>
    </div>
    <div class="re-table-row">
      <div class="header-col">SKU编码</div>
      <div class="header-col">产品名称</div>
      <div class="header-col">产品条码</div>
      <div class="header-col">订单编码</div>
      <div class="header-col">品类</div>
      <div class="header-col">中分类名称</div>
      <div class="header-col">销售价格</div>
      <div class="header-col">订单数量</div>
      <div class="header-col">总销售价格</div>
      <div class="header-col">序号</div>
    </div>
  </div>
  <div class="re-table-body" style="width:2100px;min-width: 100%">
    <div class="re-table-left-header" zz-float-left>
      <div class="left-col" ng-repeat="o in orders">{{o.product_number}}</div>
    </div>
    <div class="re-table-row" ng-repeat="o in orders">
      <div class="body-col">{{o.product_number}}</div>
      <div class="body-col">{{o.product_name}}</div>
      <div class="body-col">{{o.product_barcode}}</div>
      <div class="body-col">{{o.order_number}}</div>
      <div class="body-col">{{o.category}}</div>
      <div class="body-col">{{o.mid_classify}}</div>
      <div class="body-col">{{o.sales_price}}</div>
      <div class="body-col">{{o.order_count}}</div>
      <div class="body-col">{{o.total_price}}</div>
      <div class="body-col">{{$index+1}}</div>
    </div>
  </div>
</div>
