<div class="re-suggest-right-select-panel">
  <div class="select-title">请选择其他订单</div>
  <div class="row">
    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
    </div>
    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <div class="select-item" ng-class="{select:curSubmitOrder.has_Y03==='没有'}" ng-click="clickOrderStatus('没有')">没有试用装订单</div>
    </div>
    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <div class="select-item" ng-class="{select:curSubmitOrder.has_Y03==='有'}" ng-click="clickOrderStatus('有')">有试用装订单</div>
    </div>
  </div>
</div>

<div class="re-table has-top">
  <div class="re-table-header" style="width:2000px;">
    <div class="re-table-row">
      <div class="header-col">SKU编码</div>
      <div class="header-col">产品名称</div>
      <div class="header-col">产品条码</div>
      <div class="header-col">品类</div>
      <div class="header-col">中分类名称</div>
      <div class="header-col">销售价格</div>
      <div class="header-col">晋颖成本价</div>
      <div class="header-col">订单号码</div>
      <div class="header-col">订单数量</div>
      <div class="header-col">晋颖总价格</div>
    </div>
  </div>
  <div class="re-table-body" style="width:2040px;">
    <div class="re-table-row" ng-repeat="o in orders">
      <div class="body-col">{{o.product_number}}</div>
      <div class="body-col">{{o.product_name}}</div>
      <div class="body-col">{{o.product_barcode}}</div>
      <div class="body-col">{{o.category}}</div>
      <div class="body-col">{{o.mid_classify}}</div>
      <div class="body-col">{{o.sales_price}}</div>
      <div class="body-col">{{o.jinyi_cost}}</div>
      <div class="body-col">{{o.order_number}}</div>
      <div class="body-col">{{o.order_count}}</div>
      <div class="body-col">{{o.jinyi_total_price}}</div>
    </div>
  </div>
</div>

