<div class="re-table">
  <div class="re-table-header">
    <div class="re-table-row">
      <div class="header-col">SKU编码</div>
      <div class="header-col">上月销售量</div>
      <div class="header-col">上月月结库存</div>
      <div class="header-col">上月月结在途</div>
    </div>
  </div>
  <div class="re-table-body">
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
    </div>
  </div>


</div>
