<div class="re-suggest-right-select-panel">
  <div class="select-title">请选择经销商订单</div>
  <div class="row">
    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
    </div>
    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <div class="select-item">没有经销商订单</div>
    </div>
    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <div class="select-item">有经销商订单</div>
    </div>
    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
    </div>
  </div>
</div>

<div class="re-table has-top">
  <div class="re-table-header" style="width:1600px;">
    <div class="re-table-row">
      <div class="header-col">SKU编码</div>
      <div class="header-col">产品名称</div>
      <div class="header-col">产品条码</div>
      <div class="header-col">品类</div>
      <div class="header-col">中分类名称</div>
      <div class="header-col">销售价格</div>
      <div class="header-col">订单数量</div>
      <div class="header-col">总销售价格</div>
    </div>
  </div>
  <div class="re-table-body" style="width:1640px;">
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
      <div class="body-col">123123</div>
    </div>


  </div>


</div>
