<div>this is suggest home</div>
<button ui-sref="order_suggest.suggest_area_last_month">地区销售库存在途</button>
<button ui-sref="order_suggest.suggest_area_other_order">地区其他订单</button>
<button ui-sref="order_suggest.suggest_area_suggest_result">建议订单</button>
<button ui-sref="order_suggest.suggest_hq_agency">地区销售库存在途</button>
<button ui-sref="order_suggest.suggest_hq_current">地区其他订单</button>
<button ui-sref="order_suggest.suggest_hq_e_commerce">建议订单</button>
<button ui-sref="order_suggest.suggest_hq_maozi">maozi</button>
<button ui-sref="order_suggest.suggest_hq_suggest_result">suggest_hq_suggest_result</button>
<button ui-sref="order_suggest.suggest_hq_wholesaler">suggest_hq_wholesaler</button>
