<div class="re-table">
  <div class="re-table-header" style="min-width: 900px;">
    <div class="re-table-row">
      <div class="header-col">SKU编码</div>
      <div class="header-col">正品</div>
      <div class="header-col">近效期</div>
      <div class="header-col">次品</div>
    </div>
  </div>
  <div class="re-table-body" style="min-width: 900px;">
    <div class="re-table-row" ng-repeat="s in stocks">
      <div class="body-col">{{s.product_number}}</div>
      <div class="body-col">{{s.genuine_goods}}</div>
      <div class="body-col">{{s.validity}}</div>
      <div class="body-col">{{s.ungenuine_goods}}</div>
    </div>
  </div>
</div>
