<div class="re-suggest-home-page">
  <div class="row">
    <div class="tip-title">生成建议订单</div>
    <div class="tip-content">点击下列快捷键进行操作</div>

    <div class="col col-sm-6 col-xs-12 col-md-3 col-lg-3 home-item-panel"
         ui-sref="order_suggest.suggest_area_last_month" ag-hover-shake="swing">
      <img src="images/entrance_history.png" class="icon">

      <div class="name">地区销售库存在途</div>
    </div>
    <div class="col col-sm-6 col-xs-12 col-md-3 col-lg-3 home-item-panel"
         ui-sref="order_suggest.suggest_area_other_order" ag-hover-shake="swing"
         >
      <img src="images/entrance_history.png" class="icon">

      <div class="name">地区其他订单</div>
    </div>
    <div class="col col-sm-6 col-xs-12 col-md-3 col-lg-3 home-item-panel"
         ui-sref="order_suggest.suggest_area_suggest_result" ag-hover-shake="swing"
         >
      <img src="images/entrance_history.png" class="icon">

      <div class="name">建议订单</div>
    </div>
    <div class="col col-sm-6 col-xs-12 col-md-3 col-lg-3 home-item-panel" ui-sref="order_suggest.suggest_hq_agency"
         ag-hover-shake="swing" >
      <img src="images/entrance_setting.png" class="icon">

      <div class="name">地区销售库存在途</div>
    </div>
    <div class="col col-sm-6 col-xs-12 col-md-3 col-lg-3 home-item-panel" ui-sref="order_suggest.suggest_hq_current"
         ag-hover-shake="swing" >
      <img src="images/entrance_setting.png" class="icon">

      <div class="name">地区其他订单</div>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-3 col-lg-3 home-item-panel" ui-sref="order_suggest.suggest_hq_e_commerce"
         ag-hover-shake="swing" >
      <img src="images/entrance_dashboard.png" class="icon">

      <div class="name">建议订单</div>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-3 col-lg-3 home-item-panel" ui-sref="order_suggest.suggest_hq_maozi"
         ag-hover-shake="swing" >
      <img src="images/entrance_dashboard.png" class="icon">

      <div class="name">maozi</div>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-3 col-lg-3 home-item-panel" ui-sref="order_suggest.suggest_hq_suggest_result"
         ag-hover-shake="swing" >
      <img src="images/entrance_dashboard.png" class="icon">

      <div class="name">建议订单</div>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-3 col-lg-3 home-item-panel" ui-sref="order_suggest.suggest_hq_wholesaler"
         ag-hover-shake="swing" >
      <img src="images/entrance_dashboard.png" class="icon">

      <div class="name">suggest_hq_wholesaler</div>
    </div>
  </div>
</div>
