<div class="re-table">
  <div class="re-table-header" style="min-width: 900px;">
    <div class="re-table-row">
      <div class="header-col">SKU编码</div>
      <div class="header-col">正品</div>
      <div class="header-col">近效期</div>
      <div class="header-col">次品</div>
    </div>
  </div>
  <div class="re-table-body" style="min-width: 900px;">
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
    </div>
    <div class="re-table-row">
      <div class="body-col">sadfadf232412</div>
      <div class="body-col">32</div>
      <div class="body-col">345</div>
      <div class="body-col">123123</div>
    </div>
  </div>


</div>
