<div class="re-suggest-page">
  <div class="re-suggest-header">
    '<'建议订单
  </div>
  <div class="re-suggest-body" ng-class="{'is-home':location.hash==='#/system_setting/setting_home'}">
    <div class="re-suggest-left">
      <div class="suggest-left-item"
           ng-class="{'select':location.hash==='#/system_setting/setting_password'}"
           ui-sref="system_setting.setting_password">
        修改密码
      </div>
      <div class="suggest-left-item"
           ng-class="{'select':location.hash==='#/system_setting/setting_history'}"
           ui-sref="system_setting.setting_history">
        查看历史
      </div>
    </div>
    <div ui-view class="re-suggest-right">
    </div>
  </div>
</div>